<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>Website with Editable String</title>
</head>
<body>
    <h1>Website content editor (begining in Flask)</h1>
    
    <h2>current content:</h2>
    <p><strong>{{ content }}</strong></p>
    
    <hr>
    
    <form method="POST" action="/">
        <h2>edited content:</h2>
        
        <textarea name="new_content" rows="4" cols="50" required>{{ content }}</textarea>
        <br><br>
        
        <button type="submit">save and refresh content</button>
    </form>

    <section>
        <h2> Current image: {{current_image_name}} ({{current_index+1}}/{{total_images}})</h2>
        <img 
            src="{{url_for('static', filename='images/'+current_image_name) }}" 
            alt="current photo"
            style="max-width: 500px; height: auto;"
        >
        <div style="margin-top: 20px;">

        <form method="POST" action="/" style="display: inline;">
            <input type="hidden" name="action" value="prev">
            <button type="submit">⬅ last one</button>
        </form>
        
        <form method="POST" action="/" style="display: inline;">
            <input type="hidden" name="action" value="next">
            <button type="submit">next one ➡</button>
        </form>
        </div>
    </section>

</body>
</html>